<p>Hey {{name}},</p>
<p>Please click below to confirm your email</p>
<p>
  <a href='{{uri}}' target='_blank'>Confirm</a>
</p>
<p>This link has a duration of 72 hours. After that you will need to contact
  with your admin.</p>
<p>Your access credentials are:</p>
<ul>
  <li>User: {{email}}</li>
  <li>Password: {{password}}</li>
</ul>
<p><i>You can change this credentials later if you like it</i></p>
<p>If you did not request this email you can safely ignore it.</p>